* {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: subpixel-antialiased;
}

.centerText {
  text-align: center;
}

#codeIn {
  resize: none;
  width: 98%;
  max-width: calc( width / 1rem );
}

hr {
  display: none;
}

@media only screen and ( max-width: 600px ) {
  #codeIn {
    max-height: calc( 3.7 * 1rem );
  }

  hr {
    display: block;
  }
}
